<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>

<body>
    <!-- header -->
    <%-include('../particals/header');%>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Shopping Cart</h2>
                        <div class="breadcrumb__option">
                            <a href="/home">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Foods</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let item of cart ) {%>
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="<%=item.food.image%>" style="height: 50px; width: 50px;">
                                        <h5><%=item.food.name%></h5>
                                    </td>
                                    <td class="shoping__cart__price">
                                        <%=(item.food.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%>
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="<%=item.quantity%>">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="shoping__cart__total">
                                        <%=(item.food.price * item.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%>
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close"></span>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>Upadate Cart</a>                
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Shipping <span>Free ship</span></li>
                            <li>Total <span><%=(total).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%></span></li>
                        </ul>
                        <a href="/cart/checkout" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer -->
    <%-include('../particals/footer');%>

    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>


</body>

</html>