<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>

<body>
    <!-- header -->
    <%-include('../particals/header');%>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/public/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="/home">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have you want to update your information? <a href="#">Click here</a> to update!
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="/cart/order" method="post">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="checkout__input">
                                <p>Full Name<span>*</span></p>
                                <input type="text" value="<%=userData.full_name%>" readonly>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" value="<%=userData.phone%>" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" value="<%=userData.email%>" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" value="<%=userData.address%>" readonly class="checkout__input__add">
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text" name="notes"
                                    placeholder="Write about your notes...">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Foods <span>Total</span></div>
                                <% for( let item of cart ) {%>
                                <ul>
                                    <li><%=item.food.name%> <span><%=(item.food.price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%></span></li>
                                </ul>
                                <% } %>
                                <div class="checkout__order__subtotal">Shipping <span>Free ship</span></div>
                                <div class="checkout__order__total">Total <span><%=(total).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })%></span></div>
                                <button type="submit" class="site-btn">ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer -->
    <%-include('../particals/footer');%>

    <!-- Js Plugins -->
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.nice-select.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <script src="/public/js/jquery.slicknav.js"></script>
    <script src="/public/js/mixitup.min.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/main.js"></script>

 

</body>

</html>